body {
  background-image: url("/images/wallpaper_rails_min.jpg");
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#root {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 1vh;
}

.app-wrapper {
  display: flex;
  justify-content: center;
}

.stackable {
  width: 100%;
  max-width: 500px;
}
@keyframes slideUp {
  0%    {transform: translateY(63px) scale(0.99)};
  50%   {transform:  scale(0.2)};
  100%  {transform: translateY(0px) scale(1.0)};  
}

@keyframes slideDown {
  0%    {transform: translateY(-63px) scale(1.01)};
  50%   {transform:  scale(1.4)};
  100%  {transform: translateY(0px) scale(1.0)};
}

.slideUp {
  animation: slideUp 600ms;
}

.slideDown {
  animation: slideDown 600ms;
}

.search-area {
 padding: 0px !important;
 margin: 0 !important;
}
.table-area {
  padding: 0px;
  margin: 0px;
}

.logo {
  height: 25px;
  width: 25px;
  border-radius: 5px;
}

.alert-danger {
  margin-top: 0;
  color: white;
  padding: 5px 5px 5px 10px;
  background-color: crimson;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 5px;
  text-align: center;
}

.alert-info {
  margin-top: 0;
  color: white;
  padding: 5px 5px 5px 10px;
  background-color: rgb(74, 74, 255);
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 5px;
  text-align: center;
}
.main-row {
  margin: 0;
}

.flash-container{
  text-align: center;
}

img.accessibility {
  width: 25px; 
  height: 25px;
}

.track {
  font-style: italic;
}
.legName {
  font-weight: bold;
}
.time {
  color: rgb(255, 217, 0);
}
.arrow {
  margin-right: 5px;
  margin-top: 10px;
  float: left;
}

.legLogo {
  line-height: 30px;
  min-width: 30px;
  max-width: 60px;
  text-align: center;
  margin-right: 4px;
  float: left;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888888;
  margin-top: 2px;
  margin-bottom: 2px;
}
.legPiece {
  border-left: 2px solid white;
  padding-left: 15px;
  position: relative;
}
.legPieceWalk {
  border-left: 1px dashed white;
  padding-left: 15px;
  position: relative;
}
.stopBlob {
  width: 15px;
  height: 15px;
  background: white;
  position: absolute;
  top: 0px;
  left: -8px;
  border: 2px solid green;
  border-radius: 50%;
}
.stopBlobFinal {
  width: 15px;
  height: 15px;
  background: green;
  position: absolute;
  bottom: 0px;
  left: -8px;
  border: 2px solid white;
  border-radius: 50%;
}

.stopBlobFirst {
  width: 15px;
  height: 15px;
  background: green;
  position: absolute;
  top: 0px;
  left: -8px;
  border: 2px solid white;
  border-radius: 50%;
}
.legLogo-sub {
  display: inline-block;
  line-height: 20px;
  padding: 3px;
  min-width: 30px;
  width: auto;
  text-align: left;
  margin-right: 4px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888888;
  margin-top: 5px;
  margin-bottom: 15px;
}
.legLogo-special {
  line-height: 30px;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888888;
  margin-top: 6px;
  margin-bottom: 4px;
}

.legLogo-special-sub {
  line-height: 20px;
  padding: 3px;
  width: 60px;
  height: 30px;
  text-align: center;
  margin-right: 4px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888888;
  margin-top: 2px;
  margin-bottom: 2px;
}

.hidden {
  display: none;
}
th.arrival{
  column-span: 2;
}

.moreInfoRow {
  padding: 20px;
  background-color: grey;
  color: white;
  background-image: url("/images/stone.jpg")
}

.accordion-header{
  margin: 0px !important;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  height: 40px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding-left: 12px !important;
  padding-right: 12px !important;
  
}

.accordion-header-child {
  align-self: center;
  padding: 12px;
}

.search-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;

}
.column {
  padding: 0 !important;
}

.table-header {
  margin: 0px;
}

/** ACCORDION **/

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__title {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: left;
  border: none;
}

.accordion__title:hover {
  background-color: #ddd;
}

.accordion__body {
  position: relative;
  display: block;
  z-index: -1;
}


 .accordion__body--open {
  max-height: 600px;
  transition: max-height 0.2s ease-in;
}

.accordion__body--hidden {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;

  
}

/*** ACCORDION END ***/

.moreInfoTd {
  padding: 25px !important;
}
.inputError {
  background-color: darkorange;
  color: white;
  font-size: 1em;
  padding: 8px;
  border-radius: 5px;
  margin: 1px;
  text-align: center;
}
.relative {
  position: relative;
}
.swap-spin {
  pointer-events: none;
  transform: rotate(180deg);
  transition-duration: 600ms;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#swapImg {
  height: 45px; 
  width: 45px; 
  margin: 5px;
}
.swapDiv{
  text-align: center;
}

input.no-copy {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input.error {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #f00;
}

.errorDiv {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 2em;
  background-color: grey;
  border-radius: 5px;
}

.svg-accesibility svg {
  fill: black;
}

#visaResorBtn {
  height: 60px;
  font-size: 18px;
}

#updatetime {
  color: white;
  text-align: center;
  font-size: 20px;
}

.loading-symbol {
  margin-top: 50px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
  z-index: -1;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

img.loading-img {
  height: 125px;
  width: 125px;
  z-index: -100;
}

.onactive {
  background-color: rgb(163, 163, 163) !important;
  color: white !important;
}

.form-group {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  margin-top: 3px;
  
}

.form-group input {
  height: 60px;
  font-size: 14px;
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

.container-fluid {
  max-width: 700px;
  margin-top: 20px;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
   -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
       animation: fadein 0.5s;
}

.heading-title {
  font-size: 40px;
}

.heading {
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  padding: 3px;
  margin-bottom: 20px;
}

.smallRow {
  margin-left: 0;
  margin-right: 0;
}

table {
  background-color: rgba(255, 255, 255, 0.9);
  border-collapse: initial;
  margin: 0 !important;
  padding: 0 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

table.trip-table {
  border-radius: 10px;
  margin-bottom: 10px;
}

table thead,
table tbody {
  float: none;
}

.tbody-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cancelled {
  pointer-events: none;
  border-bottom: 2px green solid;
  text-decoration: line-through;
  background-color: rgba(62, 62, 62, 0.3);
}

#showOptionsDiv {
  margin: 10px;
}

.ui.input{
  width: 100%;
}
.ui.grid{
  margin: 5px;
  padding: 2px;
}

.ui.column {
  padding-left: 0px !important;
  padding-right: 0px !important; 
}

.results.transition {
  width: 100% !important;
  overflow-y: auto;
  max-height: 290px;
}

@media screen and (min-width: 1279px) {
  #wallpaperWide {
    width: 100vw;
    top: 0px;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {

  .heading-title {
    font-size: 70px;
  }
}

@media screen and (min-width: 646px) {
  #wallpaperWide {
    display: block;
  }
  #wallpaperSmall {
    display: none;
  }
}

@media screen and (min-width: 471px) {
  .heading-title {
    font-size: 70px;
  }
}

@media screen and (max-width: 470px) {
  body {
    height: 100%;
    background-image: url("/images/wallpaper_rails_min.jpg");
  }
  .heading-title {
    display: 40px;
  }
  #subheader {
    font-size: 25px;
  }

} /**** AUTOCOMPLETE STYLING  ****/

.ui-autocomplete {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

div.ui-menu-item-wrapper:hover {
  border-color: grey;
  background-color: grey;
}

.ui-autocomplete {
  max-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
}

.ui-autocomplete {
  max-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
}

.ui-autocomplete li:nth-of-type(odd) {
  background-color: rgb(249, 249, 249);
}

.ui-autocomplete li {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  text-decoration: none;
}

.ui-autocomplete li:hover {
  background-color: rgb(163, 163, 163);
  text-decoration: none;
}

.ui-autocomplete li a:hover {
  display: block;
  font-size: 14px;
  border: none;
  background-color: rgb(163, 163, 163) !important;
  color: white;
  margin: 0;
  padding: 10px;
  text-decoration: none;
} /***************************/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
